

.contenedor{
    
    display:flex;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    background-color: #EFEFEF;
    
}

.cajon1{
    height: 500px;
    width: 35%;
    
    

}

.cajon2{
    height: 500px;
    width: 65%;
    
}

.nombre{
    height: 200px;
    font-family: 'Trebuchet MS';
    font-size: 80px;
    padding-left: 25px;
}

.Apellido{
    color: #01516B;
}

.info{
    display:  grid;
    height: 540px;
    background-color: #242424;
    grid-template-rows: 50px auto auto auto auto auto;
}
.titulos1{
    margin-top: 20px;
    margin-left: 20px;
    background-color: #767676;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 20px;
}

.contenido1{
    text-align: justify;
    padding-left: 40px;
    padding-top: 20px;
    margin-right: 80px;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}

.foto{
    margin: 50px;
    padding-left: 80px;
}

.titulos2{
    margin-top: 20px;
    
    background-color: #767676;
    font-family: 'Montserrat', sans-serif;
    color: #01516B;
    padding-left: 50px;
    padding-top: 5px;
    font-size: 30px;
}

.contenido2{
    margin: 20px;
    font-family: 'Nunito Sans', sans-serif;
    padding-bottom: 10px;
    font-size: 25px;
    
}

.info_contacto{
    background-color: #EFEFEF;
}